<html lang="en" style="background:#fff!important;background-color:#fff!important" class="{%CLASS_HTML%}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <title>{%OPTIONS_CONTRACT_TITLE%}</title>
    <style>
	* {
        margin: 0;
        padding: 0;
    }
    html {
		font-size: 12px;
        margin: 4rem 4rem;
		font-family: 'open sans', sans-serif;
    }
    
    html.open_sans {
        font-family: 'open sans', sans-serif;
    }
    
    html.courier {
        font-family: 'courier', sans-serif;
    }
    
    html.dejavu {
        font-family: 'dejavu sans', sans-serif;
    }
    
    html.helvetica {
        font-family: 'helvetica', sans-serif;
    }
    
    html.times {
        font-family: 'times', sans-serif;
    }
    
    html.ipam {
        font-family: 'ipam';
    }
    
    html.ibmplexsansthai {
        font-family: 'ibmplexsansthai';
    }
    
    body {
        margin: 0;
        padding: 0;
		font-size: 0.875rem;
		line-height: 1;
    }
    h1, h2, h3 {
		font-size: 1rem;
		text-transform: uppercase;
	}
    span {
        font-weight: bold;
    }
	table {
		border-collapse: collapse;
	}
	th, td {
		font-size: 1rem;
		line-height: 1.1;
		font-weight: normal;
	}
	th, td {
		padding: 0 0.5rem;
		vertical-align: top;
	}
	th {
		text-transform: uppercase;
	}
	table.customer_booking_info_table {
		padding-bottom: 2rem;
	}
	table.resultstables {
		padding-top: 0.5rem;
		padding-bottom: 2rem;
	}
    .resultstables tr td {
		border: 1px solid #000;
    }
    .resultstables th {
		border: 1px solid #dddddd;
    }
	.resultstables th,
	.resultstables td {
		padding: 0.125rem 0.5rem;
	}
    .paragrap {
        font-size: .785rem;
        line-height: .8rem;
        text-align:justify;
        text-justify: auto;
        margin-bottom: 1rem;
        color: #000;
    }
    .line-signature {
        margin-top: 5rem;
    }
    .text-heading {
        font-weight: bold;
        font-size: 0.770rem;
    }
    .signature {
        text-transform: uppercase;
    }
    </style>
</head>
<body>
    <table class="top_table" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 33%;text-align: left; vertical-align: top;">
                    <img src="{%OPTIONS_LOGO_IMAGE%}" alt="logo" style="outline:0; max-width: 300px; margin:0; padding: 0">
                </td>
                <td style="width: 33%;text-align: center; vertical-align: top;">
                    <h2>{%OPTIONS_HOTEL_TITLE%}</h2>
                    <p>{%OPTIONS_HOTEL_INFORMATION%}</p>
                </td>
                <td style="width: 33%;text-align: center; vertical-align: top;">

                </td>
            </tr>
        </tbody>
    </table>
    {%GUEST_DATA%}
<p class="paragrap">
    <span>1. OBJETO.</span> Por virtud del presente contrato el HOTEL le prestará alojamiento al HUESPED en la habitación y sus accesorios, a cambio
    de un precio, por el número de días indicados en la Tarjeta de Registro Hotelero. En ningún caso el término podrá ser superior a 30 días
    consecutivos. 1.1.- La habitación será la que se indique en la Tarjeta de Registro Hotelero. El HOTEL podrá efectuar un cambio de
    habitación si el huésped lo acepta y se trata de una habitación de iguales o mejores condiciones, o ante una situación de caso fortuito o
    fuerza mayor. 1.2.- La hora de ingreso o check in es a partir de las 15:00 (3:00 pm) del día de llegada y la hora de salida o check out es
    hasta las 12:00 (12:00 pm) del día de salida. El periodo de tiempo comprendido entre una y otra hora corresponde al día hotelero. El
    ingreso anticipado o la salida con posterioridad a la hora indicada estará sujeta a disponibilidad y el HUESPED deberá pagar el valor
    correspondiente. 1.3.- El alojamiento se prestará con independencia del tiempo que efectivamente permanezca el HUESPED en la
    habitación. El uso parcial causa el pago de la tarifa plena. 1.4.- La prestación de los servicios objeto del contrato y de aquellos
    complementarios que ofrezca el hotel estará sujeta a disponibilidad y a los horarios, turnos o existencias físicas de los insumos, bienes,
    facilidades o espacios para ella. La habitación y el precio o tarifa por noche será la que se indique en la Tarjeta de Registro Hotelero y que
    corresponde a la reserva.
</p>
<p class="paragrap">
    <span>2. PRECIO.</span> 2.1.- El precio del presente contrato corresponde al canon por noche que el HUESPED se obliga a pagar y que asciende a la
    suma que se indica en la Tarjeta de Registro Hotelero y corresponde a la reserva efectuada, todo lo cual se describirá en la factura
    correspondiente, salvo que la reserva se haya realizado y pagado a través de una agencia de viajes, en cuyo caso la tarifa será la que se
    haya acordado directamente con la agencia. 2.2.- El HUESPED declara que ha sido informado de las tarifas, cánones y en general
    precios de las habitaciones por noche. 2.3.- El incumplimiento del pago acordado generará a cargo del HUESPED intereses de mora a la
    tasa máxima permitida.
</p>
<p class="paragrap">
    <span>3. OBJETOS DE VALOR.</span> Los objetos de valor como joyas, cámaras, dinero, computadores, celulares, equipos o utensilios que
    permanezcan en la habitación, estarán bajo el único riesgo del HUESPED ya que en este caso el HOTEL no asume responsabilidad
    alguna, en caso de pérdida o deterioro.
</p>
<p class="paragrap">
    <span>4.- OBLIGACIONES.</span> 4.1.- DEL HOTEL. 4.1.1.Prestar el servicio objeto del contrato. 4.1.2.- Atender, recibir, tramitar y responder las
    sugerencias, quejas o reclamos presentados por el huésped. 4.1.3.- Las demás establecidas a su cargo en la Ley. 4.2 DEL HUESPED
    .4.2.1- Identificarse para registrarse en el HOTEL con documento de identidad idóneo, presentando su cédula de ciudadanía en caso de
    ser colombiano o su pasaporte o documento aplicable tratándose de extranjeros. Para menores de edad, deberá presentarse documento
    de identificación válido. 4.2.2.- Pagar el valor del hospedaje más los impuestos correspondientes. 4.2.3.- Pagar el valor de todos los
    consumos y cargos que haya hecho a su cuenta. 4.2.4.- Observar una conducta decorosa y vestir de manera apropiada. 4.2.5.-
    Responder hasta la culpa leve de sus obligaciones y las de su acompañante. 4.2.6.- Registrar en la recepción del hotel al acompañante
    del HUESPED que se dirijan a su habitación. 4.2.7.- Respetar el número de personas por habitación. 4.2.8.- EL HUÉSPED reconoce que
    la práctica de deportes, ejercicios físicos, utilización de instrumentos o herramientas y en general toda actividad que signifique un riesgo o
    que pueda considerarse como actividad peligrosa, será decisión suya, bajo su exclusiva responsabilidad e implica que el HUÉSPED
    cuente con las habilidades y el conocimiento que le permite asumir dichos riesgos, exonerando al HOTEL y a sus funcionarios o
    empleados de cualquier responsabilidad en caso de que sufra cualquier daño o lesión. 4.2.9.- Utilizar los muebles, enseres, equipos y en
    general las facilidades tanto de la habitación como del HOTEL, de manera adecuada conservándolas en el estado en que se encuentren
    y por tanto responderá por cualquier daño o pérdida de los elementos y bienes del HOTEL, hasta por la culpa leve. En caso de pérdida o
    daño total o parcial de los bienes del HOTEL por causa atribuible al HUÉSPED o a su acompañante, el HUÉSPED deberá pagar el precio
    correspondiente a su reparación o reposición, según el caso. 4.2.10.- Respetar la autoridad del encargado del HOTEL. 4.2.11.- Permitir el
    derecho de inspección y/o vigilancia a la habitación por parte de funcionarios del HOTEL. Este derecho se ejercerá de manera razonable
    e incluye la facultad de penetrar o registrar la habitación cuando a juicio deL ENCARGADO del HOTEL sea preciso. 4.2.12.- Permitir a los
    empleados y funcionarios del HOTEL el acceso para labores de rutina y limpieza de la habitación.
</p>
<p class="paragrap">
    <span>5. TERMINACIÓN DEL CONTRATO.</span> El contrato de hospedaje terminará en los siguientes eventos: 5.1- Por vencimiento del plazo
    pactado. 5.2.- Por incumplimiento de cualquiera de las obligaciones a cargo de las partes y puntualmente por el incumplimiento del pago
    del precio o canon a cargo del HUESPED o por incumplimiento del pago de los alimentos y bebidas o demás servicios complementarios
    que el HUESPED hubiera cargado a la habitación o a su cuenta personal. 5.3.- En los eventos en que, a juicio exclusivo del HOTEL, el
    comportamiento o la indumentaria del HUESPED atente contra la tranquilidad y/o salubridad de los demás huéspedes o de los visitantes
    del HOTEL. 5.4.- Por fumar en la habitación o en cualquier otro espacio libre de humo del hotel, cuando se afecten otros huéspedes,
    visitantes o usuarios y sin perjuicio del pago que deberá hacer en los términos que se establecen más adelante. Parágrafo: La
    terminación del contrato no exonera ni libera al HUESPED del pago de los saldos pendientes.
</p>
<p class="paragrap">
    <span>6. EFECTOS DE LA TERMINACIÓN.</span> 6.1.- A la terminación del contrato el HOTEL podrá disponer libremente de la habitación. 6.2.- A la
    terminación del contrato y con independencia de la causa de terminación, el HOTEL queda facultado para ingresar a la habitación,
    elaborar y suscribir un inventario de los efectos y equipaje del huésped y retirarlos de la habitación para dejarlos en depósito seguro y
    adecuado, sin responsabilidad del HOTEL y por cuenta y riesgo del HUESPED. 6.3.- Si el HUESPED no pagaré la cuenta o parte de ella,
    el HOTEL podrá disponer y vender el equipaje y objetos del HUESPED en los términos del artículo 1199 del Código de Comercio, para
    cubrir con su producto las obligaciones pendientes. El excedente si lo hubiere, será puesto a disposición del HUESPED. En caso de
    déficit, el HOTEL podrá iniciar las acciones correspondientes para conseguir el pago total de la suma adeudada.
</p>
<p class="paragrap">
    <span>7. VARIOS.</span> 7.1.- Naturaleza jurídica del contrato. De conformidad con el artículo 79 de la ley 300 de 1.996, el contrato de hospedaje es
    un contrato de arrendamiento, de carácter comercial y de adhesión. 7.2.- El contrato de hospedaje se prueba mediante la tarjeta de
    registro hotelero que el HOTEL expide, aceptada por la firma del HUESPED, la cual hace constar que éste se adhiere a las estipulaciones
    aquí contempladas. EL HUESPED acepta expresamente que la suma líquida de dinero que conste en la factura, prestará mérito
    ejecutivo.7.3.- El HOTEL rechaza y no permite la explotación sexual ni cualquier forma de abuso sexual. El HOTEL rechaza y no permite
    el turismo sexual ni permite la explotación ni el abuso sexual de niñas, niños ni adolecentes. El HUESPED no podrá ingresar a su
    habitación menores de dieciocho (18) años de edad para el turismo sexual y quien lo haga incurrirá en pena de prisión de 5 a 10 años y
    multa de 50 a 100 smlmv. Las penas señaladas en el inciso anterior se aumentarán hasta en la mitad (1/2) cuando las conductas se
    realizaren con menores de doce (12) años. 7.4.- Cargos por fumar en las habitaciones. Siendo consecuentes con el cuidado del medio
    ambiente y la salud, todas las habitaciones y en general todas las áreas del hotel son libres de humo. Fumar en la habitación o en
    cualquier otro espacio del hotel constituye un incumplimiento grave del contrato de hospedaje que da lugar a su terminación y podrá ser
    retirado del HOTEL si ha afectado a otros huéspedes, visitantes o usuarios. Si el HUESPED fuma en la habitación, por cada día que lo
    haga deberá pagar (i) el costo en el que debe incurrir el HOTEL para desodorizar y limpiar la habitación, que se estima en una suma
    equivalente a USD 100, liquidados a la tasa representativa del mercado del día del pago, Si fuma en cualquier área del hotel distinta de la
    habitación, deberá pagar el costo en que debe incurrir el HOTEL para desodorizar y limpiar el área en la que haya fumado, que equivale a
    USD 100, liquidados a la tasa representativa del mercado del día del pago. 7.5.- El HOTEL promueve el cumplimiento de la resolución
    572 de 2005 y demás normas de conservación de Flora y Fauna así como la conservación del patrimonio cultural y de los bienes de
    interés cultural y contribuye y promueve el cumplimiento de la ley 397 de 1997 y demás normas aplicables. 7.6.- El HOTEL rechaza
    cualquier forma de discriminación, distinción, exclusión, restricción o preferencia por motivos de género, raza, color, origen nacional o
    étnico, religión, opinión político o por cualquier otro motivo o condición que tenga como propósito o que produzca como efecto deteriorar,
    restringir o limitar el goce completo de los derechos y libertades fundamentales.
</p>
<p class="paragrap">
    <span>AVISO DE PRIVACIDAD. AUTORIZACIÓN USO DE DATOS E INFORMACIÓN.</span> Al suscribir el presente contrato el HUÉSPED autoriza
    expresamente al HOTEL para recolectar y utilizar la información y los datos personales suministrados por el HUÉSPED en la Tarjeta de
    Registro Hotelero tales como nombre, dirección, identificación, nacionalidad, fecha de nacimiento, dirección de correo electrónico, número
    de teléfono fijo y móvil o celular, preferencias e intereses personales, trabajo o actividad, de conformidad con las políticas de tratamiento
    seguro de la información establecidas por el propio Hotel y por las leyes vigentes con el propósito de realizar actividades de fidelización y
    contactar al titular de la información para enviarle encuestas de servicios permitan la calificación del servicio prestado, y comunicarle las
    invitaciones, ofertas, promociones, portafolio de servicios o información general que este dirigida a que siga haciendo uso del Hotel y a
    ofrecerle los servicios correspondientes. El HUÉSPED autoriza que la información sea utilizada exclusivamente para los propósitos
    descritos previamente.
</p>
<p class="paragrap">
    El HUÉSPED, en su condición de titular de los datos personales, gozará de todos los derechos de ley, de los expresamente descritos en
    el artículo 8º de la Ley 1581 de 2.012 y en particular tendrá derecho en todo momento a conocer, acceder, actualizar y rectificar sus datos
    personales, revocar la autorización concedida o solicitar la supresión de información cuando ello sea procedente.
</p>
    <table class="top_table" style="width: 100%;">
        <tbody>
        <tr>
            <td colspan="2">
                <hr class="line-signature"/>
            </td>
        </tr>
        <tr>
            <td style="width: 50%;text-align: center; vertical-align: top;">
                <p class="text-heading signature">firma del huesped</p>
            </td>
            <td style="width: 50%;text-align: center; vertical-align: top;">
                <p class="text-heading signature">firma funcionario hotel</p>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
